.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: var(--coral);
  color: white;
  position: absolute;
}

.status-bar__column i:nth-child(2) {
  margin: 0 5px;
}

.status-bar__column .fa-battery-empty {
  color: var(--yellow);
}
